body{
  line-height: 1.2;
  background:black;
  color:white;
  padding-left:10px;
  font-size: 12pt;
}

.csharp-code{
  font-size:12pt;
  font-weight:bold;
}

pre {
  margin: 0px;
  padding: 0px;
}

.string a{ color:#A4C260 }

.comment  { color:#BC9358; font-style: italic; }
.method { color:#FFC56D }
.keyword  { color:#CB7832 }
.string  { color:#A4C260 }
.symbol { color:#6C9CBD }

/* Smartphones (landscape) */
@media only screen 
and (min-width : 321px) {
.csharp-code {
  font-size:8pt;
}
}

/* Smartphones (portrait) */
@media only screen 
and (max-width : 320px) {
.csharp-code {
  font-size:6pt;
}
}

/* iPads (portrait and landscape) */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
.csharp-code {
  font-size:12pt;
}
}

/* iPads (landscape) */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
.csharp-code {
  font-size:12pt;
}
}

/* iPads (portrait) */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
.csharp-code {
  font-size:12pt;
}
}

/* Desktops and laptops */
@media only screen 
and (min-width : 1224px) {
.csharp-code {
  font-size:12pt;
}
}

/* Large screens */
@media only screen 
and (min-width : 1824px) {
.csharp-code {
  font-size:12pt;
}
}

/* iPhone 4 */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
.csharp-code {
  font-size:12pt;
}
}